/***************************************************
GENERAL
***************************************************/
body {
  background-color: #E7DFD3;
  font-family: Helvetica, Arial, sans-serif;
  color: #84606C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questria', serif;
  color: #84606C;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #84606C;
}

/***************************************************
PAGE HEADER
***************************************************/
.page-header.navbar {
  background-color: #80665B;
}

.page-header.navbar .top-menu .navbar-nav > li > a {
  color: #E7DFD3;
}

.page-header.navbar .top-menu .navbar-nav > li > a:hover {
  background-color: #6F574D;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
  color: #E7DFD3;
}

/* Search bar */
.page-header.navbar .search-form {
  background-color: #80665B;
}

.page-header.navbar .search-form .form-control,
.page-header.navbar .search-form .form-control::placeholder {
  color: #E7DFD3;
}

/***************************************************
HORIZONTAL MENU
***************************************************/
.page-header.navbar .hor-menu .navbar-nav > li > a {
  color: #E7DFD3;
}

.page-header.navbar .hor-menu .navbar-nav > li > a:hover,
.page-header.navbar .hor-menu .navbar-nav > li.open > a {
  background-color: #6F574D;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a {
  background-color: #80665B;
  color: #ffffff;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
  background-color: #80665B;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
  color: #E7DFD3;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a:hover {
  background-color: #6F574D;
}

/***************************************************
SIDEBAR
***************************************************/
.page-sidebar {
  background-color: #E7DFD3;
}

.page-sidebar .page-sidebar-menu > li > a {
  color: #84606C;
  border-top: 1px solid #cbbfb8;
}

.page-sidebar .page-sidebar-menu > li > a > i {
  color: #80665B;
}

.page-sidebar .page-sidebar-menu > li:hover > a {
  background-color: #d8cdc3;
  color: #84606C;
}

.page-sidebar .page-sidebar-menu > li.active > a {
  background-color: #80665B;
  color: #ffffff;
}

/***************************************************
SUB MENU
***************************************************/
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
  color: #84606C;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a:hover {
  color: #5f4650;
}

/***************************************************
QUICK SIDEBAR
***************************************************/
.page-quick-sidebar-wrapper {
  background-color: #E7DFD3;
  color: #84606C;
}

.page-quick-sidebar-wrapper .nav-justified > li > a {
  background-color: #d8cdc3;
  color: #84606C;
}

.page-quick-sidebar-wrapper .nav-justified > li > a:hover {
  background-color: #cbbfb8;
}

.page-quick-sidebar-wrapper .nav-justified > li.active > a {
  background-color: #80665B;
  color: #ffffff;
}

/***************************************************
FOOTER
***************************************************/
.page-footer {
  background-color: #E7DFD3;
}

.page-footer .page-footer-inner {
  color: #84606C;
}

.page-footer .page-footer-tools .go-top {
  background-color: #80665B;
}

.page-footer .page-footer-tools .go-top i {
  color: #ffffff;
}

/***************************************************
ARBORESCENCE / TREE MENU
***************************************************/
.tree-menu {
  list-style: none;
  padding: 0;
  max-width: 300px;
  border: 1px solid #cbbfb8;
  border-radius: 6px;
  background-color: #E7DFD3;
}

.tree-menu li {
  border-bottom: 1px solid #cbbfb8;
}

.tree-menu li:last-child {
  border-bottom: none;
}

.tree-menu .label {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #84606C;
  font-weight: 500;
}

.tree-menu .label:hover {
  background-color: #d8cdc3;
  color: #84606C;
}

.tree-menu .label i {
  margin-right: 5px;
  transition: transform 0.2s ease;
  color: #84606C;
  opacity: 0.7;
}

.tree-menu li.open .label i {
  transform: rotate(90deg);
}

/* Sous-menu */
.submenu {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 8px;
  display: none;
}

.tree-menu li.open .submenu {
  display: block;
}

.submenu li {
  padding: 6px 0;
  color: #84606C;
  cursor: pointer;
  font-weight: 400;
}

.submenu li:hover {
  color: #5f4650;
}

