/*********** 
Page Header
***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  background-color: #80665B;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #6F574D;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
  color: #E7DFD3;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
  background-color: #6F574D;
  color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color: #80665B;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  background-color: #80665B;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username {
  color: #3A2D27;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
  color: #3A2D27;
}
.page-header.navbar .search-form {
  background: #80665B;
}
.page-header.navbar .search-form:hover {
  background: #80665B;
}
.page-header.navbar .search-form .input-group .form-control {
  color: #3A2D27;
}
.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
  color: #3A2D27;
  opacity: 1;
}
.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
  color: #3A2D27;
}
.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
  color: #3A2D27;
}
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
  color: #3A2D27;
}
.page-header.navbar .search-form.open {
  background: #80665B;
}
.page-header.navbar .menu-toggler {
  background-image: url(../../img/sidebar_toggler_icon_light.png);
}

/* Default Horizontal Menu */
.page-header.navbar .hor-menu .navbar-nav > li > a {
  color: #E7DFD3;
}
.page-header.navbar .hor-menu .navbar-nav > li.open > a,
.page-header.navbar .hor-menu .navbar-nav > li > a:hover,
.page-header.navbar .hor-menu .navbar-nav > li > a:focus {
  color: #E7DFD3;
  background: #80665B;
}
.page-header.navbar .hor-menu .navbar-nav > li.active > a,
.page-header.navbar .hor-menu .navbar-nav > li.active > a:hover,
.page-header.navbar .hor-menu .navbar-nav > li.current > a,
.page-header.navbar .hor-menu .navbar-nav > li.current > a:hover {
  color: #ffffff;
  background: #80665B;
}
.page-header.navbar .hor-menu .navbar-nav > li.active .selected,
.page-header.navbar .hor-menu .navbar-nav > li.current .selected {
  border-top: 6px solid #80665B;
}
.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
  box-shadow: 5px 5px rgba(138, 148, 158, 0.2);
  background: #80665B;
}
.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
  color: #E7DFD3;
}
.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a:hover {
  color: #ffffff;
  background: #80665B;
}

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
  background-color: #F9F9F9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
  border-top: 1px solid #E7DFD3;
  color: #3A2D27;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
  color: #80665B;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li:hover > a {
  background: #E7DFD3;
  color: #3A2D27;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active > a {
  background: #80665B;
  color: #ffffff;
}

/* Quick Sidebar */
.page-quick-sidebar-wrapper {
  background: #E7DFD3;
  color: #3A2D27;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a {
  color: #3A2D27;
  background: #D6CCBE;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a:hover {
  background: #CFC3B7;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li.active > a {
  background: #BFB2A6;
  color: #3A2D27;
}

/* Page Footer */
.page-footer .page-footer-inner {
  color: #3A2D27;
}
.page-footer .page-footer-tools .go-top {
  background-color: #80665B;
}
.page-footer .page-footer-tool
