*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #E7DFD3;
  margin: 0;
  height: 100%;
  color: #3A2D27;
  font-family: 'inconsolata';
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
}

#panel {
  position: fixed;
  left: 0;
  width: 600px;
  height: 100%;
  overflow: auto;
  background: #E7DFD3;
}

#panel #content {
  padding: 0 20px;
}

#panel #content .link {
  color: #80665B;
  text-decoration: none;
  cursor: pointer;
}

#panel #content .selected {
  color: #3A2D27;
  font-weight: bold;
}

#panel #content .link:hover {
  text-decoration: underline;
}

#viewer {
  position: absolute;
  border: 0;
  left: 500px;
  width: calc(100% - 500px);
  height: 100%;
  overflow: auto;
}

/* mobile */
#expandButton {
  display: none;
  position: absolute;
  right: 20px;
  top: 12px;
  width: 32px;
  height: 32px;
}

#expandButton span {
  height: 2px;
  background-color: #3A2D27;
  width: 16px;
  position: absolute;
  left: 8px;
}

#expandButton span:nth-child(1) { top: 10px; }
#expandButton span:nth-child(2) { top: 16px; }
#expandButton span:nth-child(3) { top: 22px; }

@media all and (max-width: 640px) {
  #panel {
    position: absolute;
    width: 100%;
    height: 480px;
    z-index: 100;
    border-bottom: 1px solid rgba(58,45,39,0.2);
  }
  #content {
    top: 60px;
    font-size: 17px;
    line-height: 22px;
  }
  #viewer {
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
  }
  #expandButton {
    display: block;
  }
  #panel.collapsed {
    height: 56px;
  }
}

/*** Sidebar ***/

.page-sidebar .page-sidebar-menu > li > a {
  color: #3A2D27;
}

.page-sidebar .page-sidebar-menu > li > a > i {
  color: #3A2D27;
}

.page-sidebar .page-sidebar-menu > li.active > a {
  background-color: rgba(128,102,91,0.15);
  color: #3A2D27;
}

.page-sidebar .page-sidebar-menu > li.active > a > .selected {
  border-right: 8px solid #80665B;
}

.page-container-bg-solid .page-sidebar 
.page-sidebar-menu > li.active > a > .selected {
  border-color: transparent #80665B transparent transparent;
}

.page-container-bg-solid.page-sidebar-reversed 
.page-sidebar .page-sidebar-menu > li.active > a > .selected {
  border-color: transparent transparent transparent #80665B;
}

.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
  color: #80665B;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a {
  color: #3A2D27;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a:hover {
  background-color: rgba(128,102,91,0.12);
}

.page-sidebar .sidebar-search .input-group .form-control {
  color: #3A2D27;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
  color: #80665B;
}

.acuponto {
  padding: 10px;
  background-color: rgba(255,255,255,0.4);
}
